/* animation */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* settings icon rotate */ 
.button-14-BFJ:hover {
  animation: rotation 1.7s infinite linear;
  background-color: transparent !important;
}

/* search bar */
.icon-38sknP:hover {
  animation: rotation 1.3s infinite linear;
  background-color: transparent !important;
}

/* guild settings drop down icon rotate */
.item-1tOPte:hover .iconContainer-2-XQPY {
  animation: rotation 2s infinite linear;
  background-color: transparent !important;
}

/* guild boost badge rotate */
.guildIconContainer-2FW_iA:hover {
  animation: rotation 1.7s infinite linear;
  background-color: transparent !important;
}

/* channel icon spins 
.iconContainer-1BBaeJ:hover {
  animation: rotation 2.5s infinite linear;
  background-color: transparent !important;
}
*/

/* channel buttons spin */
.iconItem-F7GRxr:hover {
  animation: rotation 2s infinite linear;
  background-color: transparent !important;
}

/* category icon spins */
.iconVisibility-fhcwiH:hover .addButtonIcon-2CbG1X {
  animation: rotation 1.7s infinite linear;
  background-color: transparent !important;	
}

/* spin top right icons */
.container-1r6BKw:hover .icon-22AiRD {
  animation: rotation 1.7s infinite linear;
  background-color: transparent !important;
}

/* attach file button spins */
.attachButtonInner-PQjIyk:hover {
  animation: rotation 1.7s infinite linear;
  background-color: transparent !important;
}

/* other message box buttons spin */
.button-318s1X:hover {
  animation: rotation 1.7s infinite linear;
  background-color: transparent !important;
}

/* message option icons spin */
.button-1ZiXG9:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* spin DM list buttons */
.closeButton-2GCmT5:hover {
  animation: rotation 2s infinite linear;
  background-color: transparent !important;
}

/* friends accept/deny list buttons */
.peopleListItem-2nzedh:hover .icon-35-fSh {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* spin member list pfp */
.layout-2DM8Md:hover .avatar-3uk_u9 {
  animation: rotation 4s infinite linear;
  background-color: transparent !important;
}

/* spin in chat pfps */
.zalgo-jN1Ica:hover .avatar-1BDn8e {
  animation: rotation 4s infinite linear;
  background-color: transparent !important;
}

/* spin profile view pfps */
.avatar-3EQepX:hover {
  animation: rotation 4.3s infinite linear;
  background-color: transparent !important;
}

/* spin profile preview pfps */
.userPopout-3XzG_A:hover .avatarWrapperNormal-3wFMbf {
  animation: rotation 4.5s infinite linear;
  background-color: transparent !important;
}

/* spin large/"jumbo" emotes */
.emojiContainer-3X8SvE:hover {
  animation: rotation 1.7s infinite linear;
  background-color: transparent !important;
}

/* spin small reaction add icon below message */
.reactionBtn-3N03Zj:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* spin connected account(s) icon */
.flex-1xMQg5:hover .connectedAccountIcon-3P3V6F {
  animation: rotation 2.3s infinite linear;
  background-color: transparent !important;
}

/* spin connected account(s) open link icon */
.connectedAccountOpenIcon-2cNbq5:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* spin connected user pfps (mini-display) */
.voiceUsers-2V7vuh:hover .avatar-3Heyg_ {
  animation: rotation 2s infinite linear;
  background-color: transparent !important;
}

/* spin some vc buttons */
.button-1YfofB:hover .buttonIcon-Od8mYw {
	animation: rotation 1.7s infinite linear;
	background-color: transparent !important;
}
/* spin guild pfps in emoji selector */
.categoryItem-1D0nxC:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* spin emoji face icon in selector */
.unicodeShortcut-15J8Ck:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* spin guild/DM icons in server list */
.wrapper-25eVIn:hover {
  animation: rotation 2.5s infinite linear;
  background-color: transparent !important;
}

/* spin exit settings button */
.closeButton-1tv5uR:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* spin pfp in settings */
.flex-1xMQg5:hover .avatarUploader-3XDtmn {
  animation: rotation 2s infinite linear;
  background-color: transparent !important;
}

/* spin profile badges in settings spin */
.profileBadge-2niAfJ:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* spin more button on profile in settings */
.menu-319q29:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}	

/* spin settings icons */
.item-PXvHYJ:hover::before {
  animation: rotation 1.5s infinite linear;
  /* background-color: transparent !important; */
}

/* spin badges in settings */
.profileBadge-2niAfJ:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* channel icons spin */
.mainContent-u_9PKf:hover .icon-1DeIlz {
  animation: rotation 1.7s infinite linear;
  background-color: transparent !important;
}

/* spin mutual servers icons */
.listRow-hutiT_:hover .icon-3o6xvg {
  animation: rotation 2s infinite linear;
  background-color: transparent !important;
}

/* spin mutual friends icons */
.listRow-hutiT_:hover .listAvatar-1NlAhb {
  animation: rotation 2s infinite linear;
  background-color: transparent !important;
}

/* spin the more/additional icon in profile */
.additionalActionsIcon-1FoUlE:hover {
  animation: rotation 1.5s infinite linear;
  background-color: transparent !important;
}

/* spin VC control icons */
.controlButton-2MhVEL:hover, .controlIcon-35oS15:hover, .viewer-sEl8Uz:hover {
  animation: rotation 2s infinite linear;
  background-color: transparent !important:
}

/* spin dm vc region icons */
.quickSelectPopoutOption-opKBx9:hover .regionSelectFlag-1htPow {
  animation: rotation 1.7s infinite linear;
  background-color: transparent !important;
}

.wrapper-2QE8vf:hover {
  animation: rotation 3s infinite linear;
  background-color: transparent !important;
}

/* spin friends list pfps */
.listItemContents-95HL3L:hover .avatar-3W3CeO {
  animation: rotation 2.3s infinite linear;
  background-color: transparent !important;
}

/* spin currently playing icon */
.panel-24C3ux:hover .gameIcon-gg34Dz {
  animation: rotation 2.3s infinite linear;
  background-color: transparent !important;
} 

/* spin pending fr req. pfps */
.listItemContents-2w6nwE:hover .avatar-3W3CeO {
  animation: rotation 2.3s infinite linear;
  background-color: transparent !important;
}

/* spin red bubble(s) under friends tabs */
.item-3HknzM:hover .badge-1Skb69 {
  animation: rotation 2.3s infinite linear;
}

/* spin blocked pfps */
.listItemContents-BUaJR_:hover .avatar-3W3CeO {
  animation: rotation 2.3s infinite linear;
  background-color: transparent !important;
}

/* spin active now user pfps */
.itemCard-v9viV7:hover .headerAvatar-2MDZJn {
  animation: rotation 2.7s infinite linear;
  background-color: transparent !important;
}

/* spin active now guild pfps */
.itemCard-v9viV7:hover .voiceSectionAssets-1gjfmz {
  animation: rotation 3.5s infinite linear;
  background-color: transparent !important;
}

/* spin active now user pfps */
.itemCard-v9viV7:hover .applicationStreamingAvatar-2iYCcz {
  animation: rotation 2.7s infinite linear;
  background-color: transparent !important;
}

/* spin active now game icons */
.itemCard-v9viV7:hover .largeImage-DLXk-f {
  animation: rotation 3s infinite linear;
  background-color: transparent !important;
}

/* spin active now add. user pfps */
.itemCard-v9viV7:hover .partyMember-1CzxeX {
  animation: rotation 4s infinite linear;
  background-color: transparent !important;
}

/* spin playing now game icons */
.itemCard-v9viV7:hover .headerIcon-10Jegm {
  animation: rotation 2.5s infinite linear;
  background-color: transparent !important;
}

/* spin large pfp in dms */
.wrapper-3t9DeA:hover {
  animation: rotation 4s infinite linear;
  background-color: transparent !important;
}

/* spin mutual servers icons in dms */
.size16-1P40sf:hover .avatarContainer-3cVycu {
  animation: rotation 2.3s infinite linear;
  background-color: transparent !important;
}

/* spin user pfps in vc */
.containerDefault--pIXnN:hover .avatarContainer-28iYmV {
  animation: rotation 5s infinite linear;
  background-color: transparent !important;
} 

/* spin muted/deafened icons in vc */
.containerDefault--pIXnN:hover .icons-1dXQdz {
  animation: rotation 2.7s infinite linear;
  background-color: transparent !important;
} 